version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "monthly"
    minimum-version-age: "7 days"

  - package-ecosystem: "cargo"
    directory: "/backend"
    schedule:
      interval: "monthly"
    minimum-version-age: "7 days"
