version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/packages/frontend"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 7

  - package-ecosystem: "cargo"
    directory: "/packages/backend"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 7
